/*base*/
/*Componentes*/
.fondo {
  background-image: url(./../img/newfondooo1.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#conteiner__nos {
  background-image: url(./../img/carrusel/fodo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/*sucursales*/
#conteiner__suc {
  background-image: url(./../img/agriculturafond.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/*contacto*/
#conteiner__cont {
  background-image: url(./../img/carrusel/fondosok.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/*area*/
#conteiner__area {
  background-image: url(./../img/carrusel/fondosok.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body {
  overflow-x: hidden;
}

.lookfoot {
  background-color: darkolivegreen;
}

.posicon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

/*Letra parrafo index*/
.letraini {
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: bold;
}

/*barra de navegacion*/
.barracol {
  background-color: darkolivegreen;
}

.posnav {
  overflow: hidden;
}

.letranav {
  font-family: "Yrsa", serif;
  font-size: 20px;
}

#conteiner__cont .poscont {
  display: inline;
  justify-content: center;
  align-items: center;
  background-image: url(../img/carrusel/fond.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.centro {
  display: flex;
  justify-content: center;
  align-items: center;
}

#conteiner__ind .letra {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main div p {
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#conteiner__nos div p {
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

main div {
  text-align: center;
}

main div img {
  display: block;
  text-align: center;
}

main div {
  text-align: center;
}
main div img {
  display: block;
  text-align: center;
}

#conteiner_contwo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
  padding: 15px;
  margin-top: 30px;
}

.conteiner {
  margin-top: 10px;
  width: auto;
}

/*galeria*/
div.galeria {
  margin: 16px;
  border: 1px solid #ccc;
  float: left;
  width: 300px;
  height: 200px;
}

div.galeria:hover {
  border: 1px solid #777;
}

div.galeria img {
  width: 300px;
  height: 200px;
}

/*area*/
.posarea {
  margin-bottom: 50px;
  padding: 30px;
}

/*nos*/
.posnos {
  margin-bottom: 50px;
  padding: 15px;
  display: flex;
}

.letraini h1 {
  font-family: "Mochiy Pop One", sans-serif;
  font-size: 50px;
}

.letraini p {
  font-family: "Pattaya", sans-serif;
  font-size: 30px;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

section div.img {
  margin: 5px;
  border: 4px solid black;
  width: 180px;
  padding: 10px;
}

section div.img:hover {
  border: 3px solid #777;
}

section div.img img {
  width: 150px;
  height: 300px;
}

section div.desc {
  background-color: aliceblue;
  padding: 15px;
  text-align: center;
}

.conteinersec {
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-bottom: 40px;
}

/*areas*/
.titarea {
  margin-top: 50px;
  margin-bottom: 30px;
}

/*nos*/
.titnos {
  margin-top: 30px;
  margin-bottom: 20px;
}

/*con*/
.titcon {
  margin-top: 30px;
  margin-bottom: 40px;
}

/*suc*/
.ubisuc {
  margin-bottom: 40px;
  margin-top: 20px;
}

div.inilog {
  display: inline;
  justify-content: center;
  padding: 50px;
  margin: 10px;
  flex-wrap: wrap;
}

div.inilog img {
  width: 300;
  height: 200;
}

/*suc*/
.titsuc {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
