$tam-one: 20px;
$tip-one:'Mochiy Pop One', sans-serif;
$sti-one: italic;
$mod-one: bold;
$bag: darkolivegreen;
$tip-three:'Archivo Narrow', sans-serif;
$tip-four: 'Cinzel', serif;
$tip-five:'Archivo Narrow', sans-serif;
$tip-six: 'Saira Condensed', sans-serif;



$tam-two: 15px;
$tip-two:Verdana, Geneva, Tahoma, sans-serif;

