section{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
    
    
}

section div.img {
    margin: 5px;
    border: 4px solid black;
    width: 180px;
    padding: 10px;
}

section div.img:hover {
    border: 3px solid #777;
}

section div.img img {

    width: 150px;
    height: 300px;
}

section div.desc {
  background-color: aliceblue;
    padding: 15px;
    text-align: center;
 }

 
 .conteinersec{
    object-fit: cover;
    width:100%;
    height:100%;
    overflow: hidden;
    margin-bottom: 40px;
 }
 
 /*areas*/
 .titarea{
    margin-top: 50px;
    margin-bottom: 30px;
 }

 /*nos*/
 .titnos{
    margin-top: 15px;
    margin-bottom: 5px;
 }

 /*con*/
 .titcon{
    margin-top: 30px;
    margin-bottom: 40px;
 }

 /*suc*/
 .ubisuc{
    margin-bottom: 40px;
    margin-top: 20px;
 }

 .letratip{
   font-family: 'Saira Condensed', sans-serif;
 }