div.inilog {
    display: inline;
    justify-content: center;
    padding: 50px;
    margin: 10px;
    flex-wrap: wrap;

}

div.inilog img {
    width: 300;
    height: 200;
}

/*suc*/
.titsuc{
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;

}

/*nos*/
.carruselnos img{
    width: 300px;
    height: 600px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 0px;
   
}

/*contcarru*/
.carruselcont img{
    width: 300px;
    height: 600px;
    margin-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
}

